@custom-media --bp-xs (width <= 375px);
@custom-media --bp-sm (width <= 640px);
@custom-media --bp-md (width <= 768px);
@custom-media --bp-lg (width <= 1024px);
@custom-media --bp-xl (width <= 1280px);
@custom-media --bp-2xl (width <= 1536px);
@custom-media --bp-3xl (width > 1536px);