@define-mixin focus {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow:
      0 0 0 2px var(--white),
      0 0 0 4px var(--focus-color, red);
    outline: none;
  }
}

@define-mixin hover {
  @media (hover: hover) {
    &:hover {
      @mixin-content;
    }
  }

  @media (hover: none) {
    &:active {
      @mixin-content;
    }
  }
}